@media screen and (max-width: 1200px) {
    #info-container {
        width: 100%;
    }

    #navbar {
        display: none;
    }

    #hamburger-nav {
        display: flex;
        background-color: rgb(17, 17, 24);
        width: 100%;
        height: 80px;
        position: sticky;
        top: 0;
        align-items: center;
        z-index: 1000;
    }

    /* ------ HOME Modifications -------*/
    #home {
        height: auto;
        padding-top: 0px;
    }
    #home h2 {
        font-size: 30px;
        text-align: center;
    }
    #home-model-container {
        width: 90%;
    }

    /* ------ ABOUT Modifications -------- */
    #about {
        height: auto;
        padding-top: 150px;
        margin: 0 20px;
    }

    #profile-container {
        flex-direction: column;
        align-items: center;
    }

    #profile-pic {
        width: 300px;
        height: 300px;
    }

    .profile-info p {
        text-align: justify;
        text-justify: inter-word;
    }
}

@media screen and (max-width: 880px) {
    hr {
        width: 70%;
    }

    #about .profile-info {
        width: 80%;
    }

    #profile-pic img {
        width: 250px;
        height: 250px;
    }

    #work h2, h3 {
        text-align: center;
    }

    #project-container {
        flex-direction: column;
        align-items: center;
        width: 70%;
    }

    #work .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #work .project-img {
        width: 200px;
        height: 200px;
        margin: 10px 0;
    }

    #work .project-content {
        width: 90%;
        text-align: justify;
    }
}

@media screen and (max-width: 600px) {
    .logo-container a {
        font-size: 17px;
    }

    #home-model-container {
        width: 100%;
        height: 50vh;
    }

    #about h1,
    #work h1,
    #contact h1 {
        font-size: 30px;
    }

    #work h2{
        font-size: 20px;
    }

    #about p,
    #work p,
    #contact p {
        font-size: 16px;
    }

    #contact {
        text-align: center;
    }
}